@charset "UTF-8";

@import url('tufte.css');
@import url('latex.css');
@import url('noto-serif-sc.css');

/* Override Tufte CSS */
html {
  font-size: 14px;
}

body {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, "Noto Serif SC", serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Noto Sans SC", sans-serif;
  letter-spacing: 0.03em;
}

.fullwidth table {
  width: 100%;
}
