@charset "UTF-8";
@import 'tufte.css';
@import 'noto-sans-sc.css';
@import 'noto-serif-sc.css';
@import 'night-mode.css';
@import 'latex.css';

/* Override Tufte CSS */

html {
    font-size: 14px;
}

body {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, "Noto Serif SC", serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Noto Sans SC", sans-serif;
    letter-spacing: 0.03em;
}

.fullwidth table {
    width: 100%;
}